{% load widget_tweaks %}

<form id="form_validation" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-5">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> NOME COMPLETO</b>
                    <div class="form-line">
                        {{ form.nome|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-md-4">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> E-MAIL</b>
                    <div class="form-line">
                        {{ form.email|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %} === {% endcomment %}
            <div class="col-md-3">
                <div class="form-group">
                    <b><span class="marcadorRequired">*</span> TELEFONE</b>
                    <div class="form-line">
                        {{ form.email|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            {% comment %}  {% endcomment %}
        </div>
        <div class="row clearfix" align="left">
            <div class="col-md-4">
                <button type="submit" class="btn bg-teal btn-block waves-effect">
                    <h4>
                        <span>REGISTRAR</span>
                        <i class="material-icons">done_all</i>
                    </h4> 
                </button>
            </div>
        </div>
        {% comment %}  {% endcomment %}
        
    </div>
</form>
            